body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main-page  {
    background: linear-gradient(54deg, rgba(8,50,2,0.40) 0%, rgba(144,150,68,0.40) 38%, rgba(0,212,255,0.25) 100%),
    url('images/bg2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 2fr 200px;
    grid-template-rows: 100px, 65px;
    font-family: "Nunito", sans-serif;
    font-weight: 600px;
    font-style: normal;
    padding: 0px;
    background-color: rgba(40, 87, 146, 0.65);
}

header h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 25px;
    font-size: 36px;
    color: #fff;
    justify-self: center;
    padding-top: 25px;
}

header img {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 200px;
    justify-self: end;
    padding-right: 0px;
    margin-right: 0px;
}

#nav {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: end;
    margin: 0;
    padding: 25px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

#nav a:hover {
    background-color: #555;
    padding: 10px 20px;
}

#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin: 100px;
    border: 4px solid rgba(255, 255, 255, 1);
    border-radius: 15px;
    background-color: rgba(0, 30, 65, 0.4);
}

#intro p {
    width: 60vw;
    font-size: 24px;
    padding: 20px;
}

#intro img {
    height: 25vh;
    padding: 5px;
    border-radius: 12.5px;
}

#quick-facts ul  {
    padding-left: 15vh;
    color: #fff;

}

#social  {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

.social-icons a:hover  {
    color: #007bff;
}

h2  {
    padding: 15px;
    font-size: 36px;
    color: #fff;
    background: linear-gradient(90deg, rgba(51, 51, 51, 0.4) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.01) 60%);
    font-family: "Nunito", sans-serif;
    font-weight: 600px;
    font-style: normal;
}

