<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Computers 8 - Home</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Computers 8</h1>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="assignments.html" class="link">Assignments</a></li>
        <li><a href="resources.html" class="link">Resources</a></li>
        <li><a href="submission.html" class="link">Submissions</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>Welcome to your Computers 8 Class Website</h2>
      <p>Here you will find all the info you need to succeed in the course.  The resources page will have content covered in class such as slideshows and worksheets.  You may be asked complete assignments on the assignments page.</p>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Education Website. All rights reserved.</p>
  </footer>
</body>
</html>
