body {
  background: #EBE0D0;
}

.hidden {
  display: none;
}

#quizModal.visible {
  display: block;
}

#loginModal.visible {
  display: block;
}

/* input[type="radio"] {
  display: block;
  margin-bottom: 5px;
  margin-right: 10px;
} */